StoreRest/StoreRestBL/Service References/StoreDASoap/StoreDataSoap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StoreSoap.Data.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StoreSoap.Data.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfproduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="product" nillable="true" type="tns:product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfproduct" nillable="true" type="tns:ArrayOfproduct" />
  <xs:complexType name="product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discount" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="product" nillable="true" type="tns:product" />
  <xs:complexType name="ArrayOforder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="order" nillable="true" type="tns:order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOforder" nillable="true" type="tns:ArrayOforder" />
  <xs:complexType name="order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="products" nillable="true" type="tns:ArrayOfproduct" />
      <xs:element minOccurs="0" name="totalPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="order" nillable="true" type="tns:order" />
</xs:schema>